<%inherit file="base.html"/>
<%namespace name="main_ui" file="main_ui.html"/>
<%namespace name="sidebar_ui" file="sidebar_ui.html"/>
<%def name="head()">
<link href="/static/uploadify/uploadify.css" rel="stylesheet">
<script src="/static/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/js/markdown.min.js"></script>

<script>

    var mdflag = false;
    
    $(function () 
    {
        $('#pic_upload').uploadify({
            'buttonText': '上传图片',
            'formData': {'_xsrf': '${handler.xsrf_token}','username': '${handler.current_user.username}'},
            'fileSizeLimit': '2MB',
            'fileTypeExts': '*.gif; *.jpg; *.png;*.jpeg',
            'swf': '/static/uploadify/uploadify.swf',
            'uploader': '/post/res/upload',
            'onUploadSuccess': function (file, data, response) {
                $("#content").val($("#content").val() + "   " + data);
            }
        });
        
        $('#mdview_act').click(function(ev){
            if(!mdflag){
                $("#mdview").html(markdown.toHTML($("#content").val()));
                mdflag = true;
            }
            else{
                $("#mdview").html('');
                mdflag = false;
            }
        })
    });
</script>
</%def>
<%def name="main()">
<div class="panel panel-default">
    <div class="panel-heading-w">
    <span class="glyphicon glyphicon-home">
    </span><span class="conn">›</span>
    <span class="title"><a href="/node/${node_name}">${node_desc}</a></span>
    <span class="conn">›</span> 发布新主题
    <div class="bar pull-right">
        <a href="javascript:history.go(-1);">返回上页</a>
    </div>
    </div>
        <div class="panel-body">

        ${main_ui.ifalert()}
        
        <form role="form" action="/post/new/${node_name}" method="post">
            ${handler.xsrf_form_html()}
            <textarea name="topic" class="form-control" rows="3" placeholder="在此简要描述的的主题">${topic or ''}</textarea>
            <textarea id="content" name="content" class="form-control top10" rows="12" placeholder="在此描述你的主题内容,允许为空">${content or ''}</textarea>
            <button id="pic_upload" type="button" class="btn btn-info">上传</button>   
            <button type="submit" class="btn btn-default top10">发布</button>
            <button id="mdview_act" type="button" class="btn btn-default top10">预览</button>
            <div id="queue"></div>
        </form>
        <br>
        <div id="mdview"></div>
    </div>
</div>
</%def>

<%def name="sidebar()">
    ${sidebar_ui.login_box()}
</%def>